.nutritional-consultation {
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nutritional-consultation h2 {
    font-size: 24px;
    color: #f0855e;
    margin-bottom: 10px;
  }
  
  .nutritional-consultation p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .nutritional-consultation button {
    padding: 10px 15px;
    background-color: #d76722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .nutritional-consultation button:hover {
    background-color: #cc350b;
  }
  